body {
  text-align: center;
}
.searchMenu {
  margin: 20px;
}
/* #pokedexContainer {
    // display: flex;
    //align-items: center;
    //justify-content: center;
    //flex-flow: row wrap;
    display: grid;
        grid-template: repeat(6, 1fr) / repeat(6, 1fr);
        grid-gap: 50px 30px;
  }
  #pokedexContainer > div {
    border: 1px solid black;
    border-radius: 1em;
    margin: 0.5em;
  } */
#pokedexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#pokedexContainer > div {
  width: 15em;
  max-width: 300px;
  border: 1px solid black;
  border-radius: 1em;
  margin: 0.5em;
}

span {
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
}

.acero {
  background-color: #b8b8d0;
}
.agua {
  background-color: #6890f0;
}
.bicho {
  background-color: #a8b820;
}
.dragón {
  background-color: #7038f8;
}
.eléctrico {
  background-color: #f8d030;
}
.fantasma {
  background-color: #705898;
}
.fuego {
  background-color: #f08030;
}
.hada {
  background-color: #ee99ac;
}
.hielo {
  background-color: #98d8d8;
}
.lucha {
  background-color: #c03028;
}
.normal {
  background-color: #a8a878;
}
.planta {
  background-color: #78c850;
}
.psyquico {
  background-color: #f85888;
}
.roca {
  background-color: #b8a038;
}
.siniestro {
  background-color: #705848;
}
.tierra {
  background-color: #e0c068;
}
.veneno {
  background-color: #a040a0;
}
.volador {
  background-color: #a890f0;
}
