body {
  text-align: center;
}

a{
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.searchMenu {
  margin: 20px;
}
img{
  margin: 0;
  padding: 0;
}
/* #pokedexContainer {
    // display: flex;
    //align-items: center;
    //justify-content: center;
    //flex-flow: row wrap;
    display: grid;
        grid-template: repeat(6, 1fr) / repeat(6, 1fr);
        grid-gap: 50px 30px;
  }
  #pokedexContainer > div {
    border: 1px solid black;
    border-radius: 1em;
    margin: 0.5em;
  } */
#pokedexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#pokedexContainer > div {
  position: relative;
  color: white;
  width: 15em;
  max-width: 300px;
  border: 1px solid black;
  border-radius: 1em;
  margin: 0.5em;
  font-family: "Pokemon classic";
  text-shadow: 2px 2px 0 black;
}

@font-face {
  font-family: Pokemon classic;
  src: url(./font/Pokemon\ Classic.ttf);
}

/* .twoTypes{
background-color: #7038f8;
} */

span {
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
  border: 1px solid black;
}

