#pokedexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#pokedexContainer > .cardPoke {
  position: relative;
  width: 15em;
  border: 0.1em solid black;
  border-radius: 1em;
  margin: 0.3em;
  box-shadow: 0.3em 0.3em 0.8em black;
}

span {
  padding: 0 0.2em 0.5em 0.5em;
  border-radius: 0.5em;
  text-shadow: 0.1em 0.1em black;
  border: 0.1em solid black;
}
.infoPTag {
  font-size: 0.8em;
}
