#pokedexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#pokedexContainer > .cardPoke {
  position: relative;
  width: 18em;
  border: .1em solid black;
  border-radius: 1em;
  margin: .3em;
}

span {
  padding: 0 0.2em 0.5em 0.5em;
  border-radius: 0.5em;
  text-shadow: .1em .1em black;
  border: .1em solid black;
}
p{
  font-size: .8em;
}
